  ////////       /* ESTILOS COMUNES */       /////////



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display:flex;
    flex-wrap: wrap;
}



.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

////////////////////////////////////////////////    HOME o  INICIO.PHP  /////////////////////////////////////////////

.contenidoInicio{
  margin-left: 5%;
  width: 90%;
  
  ////////// slider //////
  .slider{
    margin-top: 20px;

    
  
    div.textobxslider{
      text-align: center;

      h4{
        color: green;
        font-family: $letraTitular;
        margin-bottom: 15px;;
      }

      p{
        color: grey;

      }

    }
        
      
  }

  //// SEGUNDO SECTION INICIO.PHP   ////

  .ventajas{

    

    h4{
      text-align: center;
      color: green;
      font-family: $letraTitular;
      margin-bottom: 15px;
    }

    div{

     text-align: center;
     padding:5px;
     
     div{
       padding: 2px;
       img{
         border-radius: 10px;
       }
       h5{
         margin: 3px;
         color: green;
       }
       p{
         margin: 5px;
         color: grey;
         margin-left: 10%;
         width: 80%;
       }
       
     }

      
    }


  }





}

//// TERCER SECTION INICIO.PHP   ////

.funciona{

  h4{
    text-align: center;
    color: green;
    font-family: $letraTitular;
    margin-bottom: 15px;
  }
  div{
    justify-content: center;
    div img{
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;

     

    } 

    div ol{
      
      margin-top: 30px;
      margin-left: 30px;
        
      li{
        margin: 5px;
        color: grey;
        
        
      }
  
  
    }
    
  }


}

//// CUARTO SECTION INICIO.PHP   ////

.selecciona{

  h4{
    text-align: center;
    color: green;
    font-family: $letraTitular;
    margin-bottom: 15px;
  }

  div .cromobusca{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;

    div img{
      -webkit-border-top-right-radius: 15px;
      -webkit-border-bottom-right-radius: 50px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-topright: 15px;
      -moz-border-radius-bottomright: 50px;
      -moz-border-radius-bottomleft: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 15px;
      margin-bottom: 5px;
    }
    div a{
      text-decoration: none;
      list-style: none;
      font-family: $letraTitular;
      color: grey;
      
      &:hover{ 
        color: green;
      }
    }
  
  }

}


////////////////////////////////////////////////    REGISTRO o  LOGIN.PHP  /////////////////////////////////////////////


.contieneLogin{

  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  div{
    
    font-family: $letraTitular;
    h4{
      color: green;
    }

    form{
      margin-top: 5px;
      input{
        margin-top: 5px;
        border-radius: 10%;

        &#btn_loguin{
          background-color: green;
          color: white;
          height: 30px;
          width: 80px;
        }

      }
      p{
        margin-top: 10px;
        margin-bottom: 10px;
        color: gray;
        a{
          text-decoration: none;
          
          color:green;
          
        }
      }
    }
    
    p.respuesta{
      color:blue;
    }

    
  }


}



////////////////////////////////////////////////    REGISTRO_USUARIO o  REGISTRO_USUARIO.PHP  /////////////////////////////////////////////

.contenidoRegistroUsuario{

  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: $letraTitular;

  div{

    h4{
      color: green;
      width: 90%;
      margin-left: 5%;
    }
    h6{
      width: 80%;
      margin-left: 10%;

    }
    form{
      ul{
        width: 70%;
        
        li{
          text-align: right;
          color:gray;

          input{
            margin-top: 5px;
            border-radius: 10%;
            &#btn_registro{
              margin-top: 20px;
              border-radius: 10%;
              width: 120px;
              height: 30px;
              background-color: green;
              color: white;
            }

          }
        }
      } 
    }  
  }

  


}

////////////////////////////////////////////////    BIENVENIDO o  BIENVENIDO.PHP  /////////////////////////////////////////////

.contenidoBienvenido{

  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: $letraTitular;
  
  h1{
    color: green;
    width: 80%;
    margin-left: 10%;

  }
  div{
    margin-top: 50px;
    div{
      a{
        text-decoration: none;
        list-style: none;
        img{
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
        }
        h4{
          font-family: $letraTitular;
          color: green;
          

        }
      }
    }
  }



  
  
}

////////////////////////////////////////////////    REGISTRO VEHICULO o  REGISTRO_VEHICULO.PHP  /////////////////////////////////////////////


.contenido_Registro_V{

  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: $letraTitular;
  
  #respuesta{
    color: blue;
    width: 80%;
    margin-left: 10%;

    
  }

  h2{
    color: green;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
  }

  div{
    
    .titulos{
      
      text-align: right;
      
      h4{
        margin:1px;
        color:green;
        
      }
    }
    .formulario{

      form{
        text-align: left;

        input{
          margin: 2px;
          border-radius: 5px;

        }
        #zona_parla{
          margin: 2px;
          width: 172px;
          border-radius: 5px;
          
          

        }
        #tipo_vehiculo{
          margin: 2px;
          width: 172px;
          border-radius: 5px;
        }
      }
    }
    .foto{

      h4{
        color:green;
        
      }
      input{
        border-radius: 10px;
        &#fotoRU{
          max-width: 450px;
          max-height: 240px;
        }
        &#foto{
          margin-left: -90px;
          border-radius:4px;
          background-color: white;
          color: green;
        }
      }
    }
    .botones{
       
      
      input{
        color:white;
        background-color:rgb(22, 145, 22);
        margin:3px;
        width: 100px;
        height: 40px;
        border-radius: 8px;
        -webkit-box-shadow: 14px 17px 6px -9px rgba(186,201,177,1);
        -moz-box-shadow: 14px 17px 6px -9px rgba(186,201,177,1);
        box-shadow: 14px 17px 6px -9px rgba(186,201,177,1);
        &:hover{
          background-color: yellowgreen;
        }
        &:disabled{
          opacity: 0.5;
        }
      }
      
    }
  }










}

////////////////////////////////////////////////    BUSCADOR GESTOR o  BUSCADOR_GESTOR.PHP  /////////////////////////////////////////////

.contenidoBuscadorG{
  margin-left: 5%;
  width: 90%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: $letraTitular;

  h2{
    color: green;
    margin-bottom: 20px;
  }
  
    
    
  form{
    div{
      select{
        margin: 5px;
        background-color: yellowgreen;
        color: white;
        width: 200px;
        height: 25px;
        border-radius: 3px;
        
        
      }
      input{
        margin-top: 5px;
        background-color: green;
        color:white;
        width: 100px;
        height: 40px;
        border-radius: 8px;
        -webkit-box-shadow: 14px 17px 6px -9px rgba(186,201,177,1);
        -moz-box-shadow: 14px 17px 6px -9px rgba(186,201,177,1);
        box-shadow: 14px 17px 6px -9px rgba(186,201,177,1);
        &:hover{
          background-color: yellowgreen;
        }
        
      }
    }

      

      
      
  }//final del form

  .tableroCromos{

    margin-top: 10px;
    
    

    .cromosBG{
      margin-top: 30px;
      
      
      
      a{
      
      text-decoration: none;
      color: green;

      div{
        &.fotoCromo{
          

          

          img{
            border-radius: 40px;
            width: 320px;
            height: 180px;
           
            
          }
          
        }
        
        
        &.etiqueta{
          h3{
            
            &:nth-child(1){
              color:green;
            }
            &:nth-child(2){
              color: yellowgreen;
              
            }
            
            
            
           
          }
          
          
        }
      }
        
      }
      
      
    }

  }
  

}

////////////////////////////////////////////////    COCHE SELECCIONADO o  SELECCIONADO.PHP  /////////////////////////////////////////////


.contenidoSeleccionado{
  margin-left: 5%;
  width: 90%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: $letraTitular;

  .seleccionado{

    h2{
      color: green;
      margin-bottom: 30px;
    }
    .mitadSeleccionado{

      h2{
        
        color: yellowgreen;
        
      }
     
        
      img{
        border-radius: 20px;
        width: 350px;
        height: 230px;
      }
      h4{
        color:yellowgreen;
      }
      
    }
  }
  .form_reserva{

    margin-top: 20px;
    

    h2{
      color: green;
    }
    h6{
      color: green;
      margin-bottom: 10px;
    }
    h5{
      color:gray;
     
      &:nth-child(1){
        margin-left: 20px;
        input{
          -webkit-box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
          -moz-box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
          box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
        }
        
      }
      &:nth-child(3){
        margin-left: 47px;
        input{
          -webkit-box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
          -moz-box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
          box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
        }
        
      }
      &:nth-child(5){
        margin-left: 40px;
        input{
          -webkit-box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
          -moz-box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
          box-shadow: 2px 2px 2px 0px rgba(232,227,232,1);
        }
        
      }
     

    }
    
    textarea{
      width: 400px;
      -webkit-box-shadow: 4px 4px 4px 0px rgba(232,227,232,1);
      -moz-box-shadow: 4px 4px 4px 0px rgba(232,227,232,1);
      box-shadow: 4px 4px 4px 0px rgba(232,227,232,1);
    }
    #botonEnviar{
      border-radius: 10%;
      width: 100px;
      height: 30px;
      background-color: green;
      color: white;
    }
  }


}

////////////////////////////////////////////////    FUNCIONAMIENTO o  FUNCIONAMIENTO.PHP  ////////////////////////////

.contenidoFuncionamiento{

  margin-left: 5%;
  width: 90%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: $letraTitular;

  section:nth-child(1){
    margin-bottom: 70px;

    h2{
      
      color:green;
      margin-bottom: 30px;
    }
    div{
      background-color:   rgba(184,241,30,1);
      border-radius: 20px;

     
      ul{
        text-align: left;
        margin-left: 10%;
        padding: 10px;
        li{
          list-style: none;
          color:green;
        }
      }
    }
    hr{ 
      color: green;
      margin-top: 20px;
      width: 100%;
      height: 2px;
    }

  }
  section:nth-child(2){
    margin-bottom: 70px;

    h2{
      
      color:green;
      margin-bottom: 30px;
    }
    div{
      div.marco{
        border:1px solid #2bbf0a;
        margin-bottom: 20px;
        div{
          
          img{
            margin-top: 5%;
            width: 80%;
            height: 80%;
            
          }
          
          

          div{
            width: 80%;
            height: 80%;
            margin-left: 10%;
            margin-top: 5%;
            margin-bottom: 5%;
            h4{
            
              color: yellowgreen;
            }
          }
          
          
        }
        

      }
    }
    hr{ 
      color: green;
      margin-top: 20px;
      width: 100%;
      height: 2px;
    }

  }

  
  section:nth-child(3){
    margin-bottom: 70px;

    h2{
      color:green;
      margin-bottom: 30px;
    }
    div{
      .mitadmapa{
        img{
          margin-bottom: 5%;
          width: 270px;
          height: 270px;
        }
       
        ul{
          width: 80%;
          margin-left: 10%;
          li{
            list-style: none;
            color:green;
          }
        }
      }
    }
    

  }


}


@media (min-width: 768px){

  .cromoVentajas{
    width: 50%;
    
  }

  .cromofunciona{
    width: 50%;
  }

  .cromobienvenido{
    width: 50%;
  }

  .filtrosGestor{
    width: 50%;
  }
  .cromosBG{
    width: 50%; 
  }
  .mitadSeleccionado{
    width: 50%;
  }
  .marcousuarios{
    width: 50%;
    
  }
  .marcopropietarios{
    width: 50%;
    
  }
  .mitadmapa{
    width: 50%;
  }
  
  



}

@media (min-width: 992px){

  .cromobusca{
    width: 33%;
  }

 
 

  

  


  
}

@media (min-width: 1200px){

  .cromoVentajas{
    width: 25%;
  }
  .cromosBG{
    width: 33%; 
  }


  
}