@import url("https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.contenidoInicio {
  margin-left: 5%;
  width: 90%;
}

.contenidoInicio .slider {
  margin-top: 20px;
}

.contenidoInicio .slider div.textobxslider {
  text-align: center;
}

.contenidoInicio .slider div.textobxslider h4 {
  color: green;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 15px;
}

.contenidoInicio .slider div.textobxslider p {
  color: grey;
}

.contenidoInicio .ventajas h4 {
  text-align: center;
  color: green;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 15px;
}

.contenidoInicio .ventajas div {
  text-align: center;
  padding: 5px;
}

.contenidoInicio .ventajas div div {
  padding: 2px;
}

.contenidoInicio .ventajas div div img {
  border-radius: 10px;
}

.contenidoInicio .ventajas div div h5 {
  margin: 3px;
  color: green;
}

.contenidoInicio .ventajas div div p {
  margin: 5px;
  color: grey;
  margin-left: 10%;
  width: 80%;
}

.funciona h4 {
  text-align: center;
  color: green;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 15px;
}

.funciona div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.funciona div div img {
  border-radius: 40px;
}

.funciona div div ol {
  margin-top: 30px;
  margin-left: 30px;
}

.funciona div div ol li {
  margin: 5px;
  color: grey;
}

.selecciona h4 {
  text-align: center;
  color: green;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 15px;
}

.selecciona div .cromobusca {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.selecciona div .cromobusca div img {
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 15px;
  margin-bottom: 5px;
}

.selecciona div .cromobusca div a {
  text-decoration: none;
  list-style: none;
  font-family: "Hind Madurai", sans-serif;
  color: grey;
}

.selecciona div .cromobusca div a:hover {
  color: green;
}

.contieneLogin {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.contieneLogin div {
  font-family: "Hind Madurai", sans-serif;
}

.contieneLogin div h4 {
  color: green;
}

.contieneLogin div form {
  margin-top: 5px;
}

.contieneLogin div form input {
  margin-top: 5px;
  border-radius: 10%;
}

.contieneLogin div form input#btn_loguin {
  background-color: green;
  color: white;
  height: 30px;
  width: 80px;
}

.contieneLogin div form p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
}

.contieneLogin div form p a {
  text-decoration: none;
  color: green;
}

.contieneLogin div p.respuesta {
  color: blue;
}

.contenidoRegistroUsuario {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Hind Madurai", sans-serif;
}

.contenidoRegistroUsuario div h4 {
  color: green;
  width: 90%;
  margin-left: 5%;
}

.contenidoRegistroUsuario div h6 {
  width: 80%;
  margin-left: 10%;
}

.contenidoRegistroUsuario div form ul {
  width: 70%;
}

.contenidoRegistroUsuario div form ul li {
  text-align: right;
  color: gray;
}

.contenidoRegistroUsuario div form ul li input {
  margin-top: 5px;
  border-radius: 10%;
}

.contenidoRegistroUsuario div form ul li input#btn_registro {
  margin-top: 20px;
  border-radius: 10%;
  width: 120px;
  height: 30px;
  background-color: green;
  color: white;
}

.contenidoBienvenido {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Hind Madurai", sans-serif;
}

.contenidoBienvenido h1 {
  color: green;
  width: 80%;
  margin-left: 10%;
}

.contenidoBienvenido div {
  margin-top: 50px;
}

.contenidoBienvenido div div a {
  text-decoration: none;
  list-style: none;
}

.contenidoBienvenido div div a img {
  border-radius: 50px;
}

.contenidoBienvenido div div a h4 {
  font-family: "Hind Madurai", sans-serif;
  color: green;
}

.contenido_Registro_V {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Hind Madurai", sans-serif;
}

.contenido_Registro_V #respuesta {
  color: blue;
  width: 80%;
  margin-left: 10%;
}

.contenido_Registro_V h2 {
  color: green;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
}

.contenido_Registro_V div .titulos {
  text-align: right;
}

.contenido_Registro_V div .titulos h4 {
  margin: 1px;
  color: green;
}

.contenido_Registro_V div .formulario form {
  text-align: left;
}

.contenido_Registro_V div .formulario form input {
  margin: 2px;
  border-radius: 5px;
}

.contenido_Registro_V div .formulario form #zona_parla {
  margin: 2px;
  width: 172px;
  border-radius: 5px;
}

.contenido_Registro_V div .formulario form #tipo_vehiculo {
  margin: 2px;
  width: 172px;
  border-radius: 5px;
}

.contenido_Registro_V div .foto h4 {
  color: green;
}

.contenido_Registro_V div .foto input {
  border-radius: 10px;
}

.contenido_Registro_V div .foto input#fotoRU {
  max-width: 450px;
  max-height: 240px;
}

.contenido_Registro_V div .foto input#foto {
  margin-left: -90px;
  border-radius: 4px;
  background-color: white;
  color: green;
}

.contenido_Registro_V div .botones input {
  color: white;
  background-color: #169116;
  margin: 3px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  -webkit-box-shadow: 14px 17px 6px -9px #bac9b1;
  box-shadow: 14px 17px 6px -9px #bac9b1;
}

.contenido_Registro_V div .botones input:hover {
  background-color: yellowgreen;
}

.contenido_Registro_V div .botones input:disabled {
  opacity: 0.5;
}

.contenidoBuscadorG {
  margin-left: 5%;
  width: 90%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Hind Madurai", sans-serif;
}

.contenidoBuscadorG h2 {
  color: green;
  margin-bottom: 20px;
}

.contenidoBuscadorG form div select {
  margin: 5px;
  background-color: yellowgreen;
  color: white;
  width: 200px;
  height: 25px;
  border-radius: 3px;
}

.contenidoBuscadorG form div input {
  margin-top: 5px;
  background-color: green;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  -webkit-box-shadow: 14px 17px 6px -9px #bac9b1;
  box-shadow: 14px 17px 6px -9px #bac9b1;
}

.contenidoBuscadorG form div input:hover {
  background-color: yellowgreen;
}

.contenidoBuscadorG .tableroCromos {
  margin-top: 10px;
}

.contenidoBuscadorG .tableroCromos .cromosBG {
  margin-top: 30px;
}

.contenidoBuscadorG .tableroCromos .cromosBG a {
  text-decoration: none;
  color: green;
}

.contenidoBuscadorG .tableroCromos .cromosBG a div.fotoCromo img {
  border-radius: 40px;
  width: 320px;
  height: 180px;
}

.contenidoBuscadorG .tableroCromos .cromosBG a div.etiqueta h3:nth-child(1) {
  color: green;
}

.contenidoBuscadorG .tableroCromos .cromosBG a div.etiqueta h3:nth-child(2) {
  color: yellowgreen;
}

.contenidoSeleccionado {
  margin-left: 5%;
  width: 90%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Hind Madurai", sans-serif;
}

.contenidoSeleccionado .seleccionado h2 {
  color: green;
  margin-bottom: 30px;
}

.contenidoSeleccionado .seleccionado .mitadSeleccionado h2 {
  color: yellowgreen;
}

.contenidoSeleccionado .seleccionado .mitadSeleccionado img {
  border-radius: 20px;
  width: 350px;
  height: 230px;
}

.contenidoSeleccionado .seleccionado .mitadSeleccionado h4 {
  color: yellowgreen;
}

.contenidoSeleccionado .form_reserva {
  margin-top: 20px;
}

.contenidoSeleccionado .form_reserva h2 {
  color: green;
}

.contenidoSeleccionado .form_reserva h6 {
  color: green;
  margin-bottom: 10px;
}

.contenidoSeleccionado .form_reserva h5 {
  color: gray;
}

.contenidoSeleccionado .form_reserva h5:nth-child(1) {
  margin-left: 20px;
}

.contenidoSeleccionado .form_reserva h5:nth-child(1) input {
  -webkit-box-shadow: 2px 2px 2px 0px #e8e3e8;
  box-shadow: 2px 2px 2px 0px #e8e3e8;
}

.contenidoSeleccionado .form_reserva h5:nth-child(3) {
  margin-left: 47px;
}

.contenidoSeleccionado .form_reserva h5:nth-child(3) input {
  -webkit-box-shadow: 2px 2px 2px 0px #e8e3e8;
  box-shadow: 2px 2px 2px 0px #e8e3e8;
}

.contenidoSeleccionado .form_reserva h5:nth-child(5) {
  margin-left: 40px;
}

.contenidoSeleccionado .form_reserva h5:nth-child(5) input {
  -webkit-box-shadow: 2px 2px 2px 0px #e8e3e8;
  box-shadow: 2px 2px 2px 0px #e8e3e8;
}

.contenidoSeleccionado .form_reserva textarea {
  width: 400px;
  -webkit-box-shadow: 4px 4px 4px 0px #e8e3e8;
  box-shadow: 4px 4px 4px 0px #e8e3e8;
}

.contenidoSeleccionado .form_reserva #botonEnviar {
  border-radius: 10%;
  width: 100px;
  height: 30px;
  background-color: green;
  color: white;
}

.contenidoFuncionamiento {
  margin-left: 5%;
  width: 90%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Hind Madurai", sans-serif;
}

.contenidoFuncionamiento section:nth-child(1) {
  margin-bottom: 70px;
}

.contenidoFuncionamiento section:nth-child(1) h2 {
  color: green;
  margin-bottom: 30px;
}

.contenidoFuncionamiento section:nth-child(1) div {
  background-color: #b8f11e;
  border-radius: 20px;
}

.contenidoFuncionamiento section:nth-child(1) div ul {
  text-align: left;
  margin-left: 10%;
  padding: 10px;
}

.contenidoFuncionamiento section:nth-child(1) div ul li {
  list-style: none;
  color: green;
}

.contenidoFuncionamiento section:nth-child(1) hr {
  color: green;
  margin-top: 20px;
  width: 100%;
  height: 2px;
}

.contenidoFuncionamiento section:nth-child(2) {
  margin-bottom: 70px;
}

.contenidoFuncionamiento section:nth-child(2) h2 {
  color: green;
  margin-bottom: 30px;
}

.contenidoFuncionamiento section:nth-child(2) div div.marco {
  border: 1px solid #2bbf0a;
  margin-bottom: 20px;
}

.contenidoFuncionamiento section:nth-child(2) div div.marco div img {
  margin-top: 5%;
  width: 80%;
  height: 80%;
}

.contenidoFuncionamiento section:nth-child(2) div div.marco div div {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenidoFuncionamiento section:nth-child(2) div div.marco div div h4 {
  color: yellowgreen;
}

.contenidoFuncionamiento section:nth-child(2) hr {
  color: green;
  margin-top: 20px;
  width: 100%;
  height: 2px;
}

.contenidoFuncionamiento section:nth-child(3) {
  margin-bottom: 70px;
}

.contenidoFuncionamiento section:nth-child(3) h2 {
  color: green;
  margin-bottom: 30px;
}

.contenidoFuncionamiento section:nth-child(3) div .mitadmapa img {
  margin-bottom: 5%;
  width: 270px;
  height: 270px;
}

.contenidoFuncionamiento section:nth-child(3) div .mitadmapa ul {
  width: 80%;
  margin-left: 10%;
}

.contenidoFuncionamiento section:nth-child(3) div .mitadmapa ul li {
  list-style: none;
  color: green;
}

@media (min-width: 768px) {
  .cromoVentajas {
    width: 50%;
  }
  .cromofunciona {
    width: 50%;
  }
  .cromobienvenido {
    width: 50%;
  }
  .filtrosGestor {
    width: 50%;
  }
  .cromosBG {
    width: 50%;
  }
  .mitadSeleccionado {
    width: 50%;
  }
  .marcousuarios {
    width: 50%;
  }
  .marcopropietarios {
    width: 50%;
  }
  .mitadmapa {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .cromobusca {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .cromoVentajas {
    width: 25%;
  }
  .cromosBG {
    width: 33%;
  }
}

header nav {
  padding: 15px;
  background-color: yellowgreen;
}

header nav #barras {
  padding: 6px;
  font-size: 20px;
  background-color: yellowgreen;
  border: none;
  color: green;
}

header nav ul {
  display: block;
  text-align: center;
  padding: 5px;
}

header nav ul li {
  list-style: none;
  padding: 5px;
}

header nav ul li:hover {
  background-color: white;
}

header nav ul li a {
  text-decoration: none;
  font-family: "Hind Madurai", sans-serif;
  color: #014b01;
  margin-left: 0;
}

header nav ul li a:hover {
  color: green;
  margin-left: 0;
}

@media (min-width: 768px) {
  header nav {
    text-align: right;
    padding: 0px;
  }
  header nav #barras {
    display: none;
  }
  header nav ul {
    margin-right: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px;
  }
  header nav ul li {
    padding: 15px;
  }
}

footer {
  background-color: yellowgreen;
}

footer section {
  text-align: center;
}

footer section.Logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer section.Contenido {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer section div.redes {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer section div a {
  font-family: "Hind Madurai", sans-serif;
  text-decoration: none;
  margin-top: 5px;
  color: #014b01;
}

footer section div a:hover {
  color: white;
}

footer section div p {
  font-family: "Hind Madurai", sans-serif;
  color: green;
}

@media (min-width: 767.99px) {
  footer section.Logo {
    width: 25%;
  }
  footer section.Contenido {
    width: 75%;
  }
  footer section.Contenido div a {
    width: 33.33%;
  }
}
/*# sourceMappingURL=estilos.css.map */